<div id="loginWrapper"> 
   <div class="main-body">
      <div class="left-panel box-shade h-100">
         <div class="header">
            <nav>
               <div class="logo">
                  <img src="../assets/Images/access-logo.svg" alt="-">
               </div>
               <ol class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">
                     <a routerLink="/auth/">
                         Forget Password
                     </a>
                  </li>
               </ol>
            </nav>
         </div>
         <div class="left-content-wrap" id="forgot-password-wrap">
            <form *ngIf="show">
             <div id="forgot-password-form">
                <div class="center-content">
                      <h4 class="darkerblue">Forgot your password?</h4>
                      
                      <div class="form w-100">
                         <h6 class="darkblue mt-4">
                            Enter your email address, here.
                         </h6>
                         <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="forgot-password-username-email" placeholder="enter email or username" value="syed.ahmed@jazz.com.pk">
                            <label for="forgot-password-username-email">Username or Email</label>
                            <div class="invalid-feedback">
                                  Please enter a valid phone number
                            </div>
                         </div>
                         <div class="form-btn d-flex justify-content-center">
                            <a type="Submit" class="btn btn-success w-100" id="nextBtn" tabindex="-1" role="button" (click)="toogle()">Next</a>
                         </div>
                         <div>
                            <p class="silver">back to <a routerLink="/auth/login" class="text-info" id="back-login">Sign in</a></p>
                         </div>
                      </div>
                </div>
             </div>
             </form>
         
             <div class=" verify-wrap" id="verifyWrap" *ngIf="showVerify">
                <div class="center-content">
                      <h4 class="darkerblue">Verification</h4>
                      <p class="darkblue mt-5 underline-txt">
                         <span class="night">syed.ahmed@jazz.com.pk</span>
                         <a class="sky" href="#">Change email</a>
                      </p>
                      <div class="list-group list-group-flush listing">
                         <p class="darkblue mt-4">
                            Select the any one option to send the verification code.
                         </p>
                         <ul class="p-0">
                            <li class="list-group-item d-flex" value="">
                                  <div class="list-down-icon">
                                     <div class="iconButton medium me-3">
                                        <i class="fas fa-envelope emerald"></i>
                                     </div>
                                  </div>
                                  <div class="w-100 list-txt d-flex">
                                     <div class="w-100">
                                        <h6 class="mb-2 darkblue">Send code via mail
                                        </h6>
                                        <p class="mb-1 coal"><span class="blur-txt">support.en</span>@xpress.com</p>
                                     </div>
                                  </div>
                                  <a type="button" class="btn btn-success send-btn w-50 sendCode" role="button" (click)="toogle()">Send</a>
                            </li>
                            <li class="list-group-item d-flex" value="">
                                  <div class="list-down-icon">
                                     <div class="iconButton medium me-3">
                                     <i class="fas fa-comment-alt-dots emerald"></i>
                                     </div>
                                  </div>
                                  <div class="w-100 list-txt d-flex">
                                     <div class="w-100">
                                        <h6 class="mb-2 darkblue">Send code via text
                                        </h6>
                                        <p class="mb-1 coal"><span class="blur-txt">+92 3XX XXXXX</span>05</p>
                                        
                                     </div>
                                  </div>
                                  <a type="button" class="btn btn-success send-btn w-50 sendCode" role="button" (click)="toogle()">Send</a>
                            </li>
                         </ul>
                      </div>
                </div>
             </div>
             <div id="verifyCodeWrap" class="verify-wrap" *ngIf="showVerifyCode" >
                <div class="center-content">
                      <h4 class="darkerblue">Verification</h4>
                      <p class="darkblue mt-5">
                         <span class="night">We've sent you the code via text on</span>
                         <span>+92 <span class="blur-txt">3XX XXXXX</span>05</span>
                      </p>
                      <div class="list-group list-group-flush">
                         <p class="darkblue mt-4">
                            Kindly, enter the code in remaining time: <span class="radical">12</span>
                         </p>
                         <ul class="code-list">
                            <li class="list-group-item d-flex ps-0" value="">
                               <div>
                                     <input class="form-control" id="exampleFormControlInput1" placeholder="">
                                  </div>
                            </li>
                               <li class="list-group-item d-flex" value="">
                               <div>
                                     <input class="form-control" id="exampleFormControlInput1" placeholder="">
                                  </div>
                            </li>
                               <li class="list-group-item d-flex" value="">
                               <div>
                                     <input class="form-control" id="exampleFormControlInput1" placeholder="">
                                  </div>
                            </li>
                               <li class="list-group-item d-flex" value="">
                               <div>
                                     <input class="form-control" id="exampleFormControlInput1" placeholder="">
                                  </div>
                            </li>
                            <li class="list-group-item d-flex border-0 pe-0" value="">
                               <div>
                                     <input class="form-control" id="exampleFormControlInput1" placeholder="">
                                  </div>
                            </li>
                         </ul>
                         <p class="text-end"><a href="#" class="coal">Resend code</a></p>
                      </div>
                      <div class="form-btn d-flex justify-content-center mt-4">
                         <a  type="button" class="btn btn-success w-100" id="verifyCodeBtn" role="button" (click)="toogle()">Verify</a>
                      </div>
                </div>
             </div>
         
             <div class="" id="reset-password-form" *ngIf="showResetPassword">
                <div class="center-content">
                      <h4 class="darkerblue mb-5">Reset your password</h4>
                      <div class="form w-100">
                         <div class="form-floating mb-3 password set-password">
                            <input type="password" class="form-control" id="reset-password" placeholder="reset password">
                            <i class="fas fa-eye-slash show-pass metal"></i>
                            <label for="reset-password">Password</label>
                         </div>
                         <div class="form-floating mb-3 password set-password">
                            <input type="password" class="form-control" id="confirm-password" placeholder="confirm password">
                            <i class="fas fa-eye-slash show-pass metal"></i>
                            <label for="confirm-password">Confirm Password</label>
                         </div>
                         <div class="form-btn d-flex justify-content-center">
                            <a href="./index.html" type="button" class="btn btn-success w-100" role="button">Reset</a>
                         </div>
                      </div>
                      <div class="password-indication">
                         <ul>
                            <li class="mb-3">
                               <div class="weak-password d-none">
                                  <h6>Weak Password</h6>
                                  <div class="progress">
                                     <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25%" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                               </div>
                               <div class="good-password d-none">
                                  <h6>Good Password</h6>
                                  <div class="progress">
                                     <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50%" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                               </div>
                               <div class="strong-password">
                                  <h6>Strong Password</h6>
                                  <div class="progress">
                                     <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85%" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                               </div>
                            </li>
                            <li class="list">
                               <i class="fal fa-check emerald"></i>
                               Minimum strength 16 characters.
                            </li>
                            <li class="list">
                               <i class="fal fa-check emerald"></i>
                               Password is case sensitive
                            </li>
                            <li class="list">
                               <i class="fal fa-check emerald"></i>
                               Including  
                            </li>
                         </ul>
                      </div>
                </div>
             </div>
          </div>



         
         <footer class="login-footer">
            <div class="copyright">
               Copyrights © - 2022 | All Copyrights are reserved by
               <a href="#"><img class="logo" src="../assets/Images/ibex-logo.svg"></a>
            </div>
         </footer>
      </div>


      <div class="right-panel saltBg">
         <div class="graphicBg">
            <img src="../assets/Images/front-page-graphic.png">
         </div>
         <div class="tagline">
            <h4 class="ambassador_blue">Let's <span class="radical fw-bold">connect</span> the world on a single <span class="radical fw-bold">expression.</span></h4>
         </div>
         <footer class="login-footer">
            <ul class="footer-links">
               <li>
                  <a href="#">Help</a>
               </li>
               <li>
                  <a href="#">Learn more</a>
               </li>
               <li>
                  <a href="#">Support</a>
               </li>
            </ul>
         </footer>
      </div>

   </div>
</div>






 <script src="../../../assets/Scripts/main-5982febfc9.js"></script>