


<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
  [fullScreen]="true"
>
  <p style="color: white">Loading...</p>
</ngx-spinner>
    <div class="main-wrapper d-flex">

        <div class="middle-wrapper d-flex w-100 flex-column">

            <div class="content-box-wrapper d-flex w-100">
                <div class="middle-content d-flex">

                    <div class="agent-page-main-content">
                        <div class="create-business-hour console-body-wrapper" data-scrollbar="data-scrollbar">
                            <div class="wider-container pt-5">

                                <form>
                                    <div class="floating-item mb-4">
                                        <div class="floating-wrap form-floating">
                                            <input class="form-control" id="floatingInput" placeholder="Enter Name"
                                                value="LHR_TNB2_DGS_HR">
                                            <label for="floatingInputValue">Name</label>
                                        </div>
                                    </div>
                                    <div class="floating-item mb-4">
                                        <div class="floating-wrap form-floating">
                                            <input class="form-control" id="floatingInput" placeholder="Enter Name"
                                                value="Lahore TNB2 DGS HR">
                                            <label for="floatingInputValue">Alias</label>
                                        </div>
                                    </div>
                                    <div class="form-floating mb-4">
                                        <select class="form-select" id="floatingSelect"
                                            aria-label="Floating label select example">
                                            <option selected>Karachi </option>
                                            <option value="1">Lahore</option>
                                            <option value="2">Islamabad</option>
                                        </select>
                                        <label for="floatingSelect"> City</label>
                                    </div>
                                    <div class="form-floating mb-4">
                                        <select class="form-select" id="floatingSelect"
                                            aria-label="Floating label select example">
                                            <option selected>Sky Tower</option>
                                            <option value="1">Ibex 1</option>
                                            <option value="2">Ibex 2</option>
                                            <option value="3">Ibex 3</option>
                                        </select>
                                        <label for="floatingSelect"> Locations</label>
                                    </div>
                                    <div class="form-floating mb-4">
                                        <select class="form-select" id="floatingSelect"
                                            aria-label="Floating label select example">
                                            <option selected>Basement </option>
                                            <option value="1">Ground Floor</option>
                                            <option value="2">First Floor</option>
                                            <option value="3">Second Floor</option>
                                        </select>
                                        <label for="floatingSelect"> Floors</label>
                                    </div>

                                    <div class="form-check mb-4">
                                        <input class="form-check-input" type="checkbox" id="inout" checked>
                                        <label class="form-check-label" for="inout">
                                            Do you want to select IN/OUT Seperately
                                        </label>
                                    </div>
                                    <div class="floating-item select-pills mb-4 bg-white">
                                        <div class="form-floating">
                                            <p> IN Devices</p>
                                            <select class="js-example-theme-multiple">
                                                <option select="selected">Device 1 </option>
                                                <option>Device 2</option>
                                                <option>Device 3</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="floating-item select-pills mb-4 bg-white">
                                        <div class="form-floating">
                                            <p> OUT Devices</p>
                                            <select class="js-example-theme-multiple">
                                                <option select="selected">Device 1 </option>
                                                <option>Device 2</option>
                                                <option>Device 3</option>
                                            </select>
                                        </div>
                                    </div>




                                </form>

                            </div>
                        </div>
                        <footer class="footer">
                            <div class="ps-3 pe-3">
                                <div class="icon-buttons-wrapper d-flex justify-content-between pt-3 pb-4">
                                    <div class="row w-100">
                                        <div class="col-md-4">


                                        </div>
                                        <div class="col-md-8 justify-content-end d-flex">
                                            <div class="buttons-wrap d-flex">
                                                <button type="button"
                                                    class="btn btn-outline-secondary btn-medium me-2 px-4"
                                                    data-bs-toggle="modal" data-bs-target="">Cancel </button>
                                                <button type="button"
                                                    class="btn btn-success ms-e f-saveBtn btn-large d-none"></button>
                                                <button type="button" class="btn skyBg ms-2 px-4 btn-medium saveBtn"
                                                    data-bs-toggle="modal" data-bs-target="">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </footer>
                    </div>


                </div>

            </div>
        </div>
    </div>