<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
  [fullScreen]="true"
>
  <p style="color: white">Loading...</p>
</ngx-spinner>
<div class="main-wrapper d-flex">
  <div class="middle-wrapper d-flex w-100 flex-column">
    <div class="content-box-wrapper d-flex w-100">
      <div class="middle-content d-flex">
        <div class="p-4 w-100 inbox-container">
          <div class="filter-toolbar">
            <div class="row">
              <div class="col-md-6">
                <ul class="list-inline m-0 d-flex align-items-center">
                  <li class="list-inline-item">
                    <div class="searchbar-click">
                      <form class="searchbox">
                        <input
                          [(ngModel)]="srch"
                          (ngModelChange)="getAllClients()"
                          placeholder="Search Team Name"
                          name="search"
                          class="searchbox-input"
                          required
                        />
                        <span class="searchbox-icon medium iconButton">
                          <i class="fa fa-search"></i>
                        </span>
                      </form>
                    </div>
                  </li>
                  <li class="list-inline-item">
                    <select class="form-select" placeholder="Groups">
                      <option disabled selected>Groups</option>
                      <option>All</option>
                      <option>Design</option>
                      <option>UI Developers</option>
                      <option>Finance</option>
                      <option>Social Media</option>
                    </select>
                  </li>
                </ul>
              </div>
              <div
                class="col-md-6 d-flex align-items-center justify-content-end"
              >
                <a routerLink="/dashboard/listofteams/createteam" class="ms-2">
                  <button type="button" class="btn btn-success">
                    <i class="fal fa-plus me-2"></i>
                    Create Team
                  </button>
                </a>
              </div>
            </div>
          </div>
          <div class="filter-container">
            <ul class="list-group list-group-horizontal border-0">
              <li
                (click)="reloadComponent()"
                _ngcontent-ypb-c55=""
                aria-label="..."
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Refresh"
                class="list-group-item border-0 refreshicon"
              >
                <i _ngcontent-ypb-c55="" class="fal fa-redo"></i>
              </li>
              <li
                [ngStyle]="{ display: isChecked == true ? 'block' : 'none' }"
                class="list-group-item border-0 after-select-fun"
                aria-label="..."
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title=""
                data-bs-original-title="Delete"
                style=""
              >
                <i class="fal fa-trash" (click)="deleteMultiple()"></i>
              </li>
              <li
                [ngStyle]="{ display: isChecked == true ? 'block' : 'none' }"
                class="list-group-item border-0 after-select-fun"
                aria-label="..."
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title=""
                data-bs-original-title="Disable"
                style=""
              >
                <i class="fal fa-ban"></i>
              </li>
            </ul>
            <div class="selected-row" style="display: none">
              Selected
              <span class="badge skyBg rounded-pill">05<span> </span></span>
            </div>
            <div class="pagination-bar">
              <div class="dropdown">
                <button
                  class="btn iconHover"
                  type="button"
                  id="dropdownMenuButton1"
                  data-bs-toggle="dropdown"
                  aria-expanded="true"
                >
                  <span
                    >{{ startinpoint }}-{{ endingPoint }} of
                    {{ totalClients }}</span
                  >
                </button>
                <ul
                  class="dropdown-menu"
                  aria-labelledby="dropdownMenuButton1"
                  style="
                    position: absolute;
                    inset: 0px auto auto 0px;
                    margin: 0px;
                    transform: translate(0px, 38px);
                  "
                  data-popper-placement="bottom-start"
                >
                  <li>
                    <a class="dropdown-item" (click)="getsortValue($event)"
                      >Newest</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="getsortValue($event)"
                      >Oldest</a
                    >
                  </li>
                </ul>
                <span style="margin-right: 6px">
                  <i
                    class="fal fa-chevron-left"
                    (click)="openModalPrevious(popupPrevious)"
                  ></i>
                </span>
                <span
                  data-bs-toggle="modal"
                  data-bs-target="#cancel-changes"
                  style="margin-left: 6px"
                >
                  <i
                    class="fal fa-chevron-right"
                    (click)="openModalNext(popupNext)"
                  ></i>
                </span>
              </div>
            </div>
          </div>

          <div class="table-section table-scrool-y mb-3 query-container">
            <div
              [ngStyle]="{ display: isCheckedAll == true ? 'block' : 'none' }"
              class="alert alert-secondary text-center email-info-alert p-2"
              role="alert"
              style="display: none"
            >
              All <strong>100</strong> conversations on this page are selected.
              <a
                href="javascript:void(0);"
                class="all-conversation fw-bold sky btn"
                >Select all 569 records in logs</a
              >
              <a
                href="javascript:void(0);"
                class="clear-selection"
                style="display: none"
                >Clear selection</a
              >
            </div>
            <table class="table align-middle">
              <thead>
                <tr [class.selected]="isChecked == true">
                  <th>
                    <div class="filter-container">
                      <ul class="list-group list-group-horizontal border-0">
                        <li class="list-group-item border-0 all-check-boxes">
                          <input
                            class="form-check-input me-1"
                            type="checkbox"
                            aria-label="..."
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            data-bs-original-title="Check All"
                            [checked]="masterSelected"
                            value="m1"
                            (change)="checkUncheckAll($event)"
                          />
                        </li>
                      </ul>
                    </div>
                  </th>
                  <th>Teams</th>
                  <th>
                    <a href="javascript:" class="charcoal hover-icon">
                      Users
                    </a>
                  </th>
                  <th>
                    <a href="javascript:" class="charcoal hover-icon">
                      Departments
                    </a>
                  </th>
                  <th>
                    <a href="javascript:" class="charcoal hover-icon">
                      Groups
                    </a>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  [class.selected]="team.isChecked == true"
                  *ngFor="
                    let team of Teams
                      | paginate
                        : {
                            itemsPerPage: itemsPerPage,
                            currentPage: p,
                            totalItems: totalClients
                          };
                    index as index
                  "
                >
                  <td>
                    <input
                      [checked]="team.isChecked"
                      value="{{ team.id }}"
                      (change)="isAllSelected($event, index)"
                      class="form-check-input me-1"
                      type="checkbox"
                      aria-label="..."
                    />
                  </td>
                  <td
                    [routerLink]="[
                      '/dashboard/listofteams/teamdetail/',
                      team.id
                    ]"
                  >
                    {{ team.name }}
                  </td>
                  <td>
                    <div class="d-flex align-items-center darkblue">
                      <i class="fal fa-users coal me-2"></i>
                      {{ team.membersCount }}
                    </div>
                  </td>
                  <td>
                    <div class="align-items-lg-center d-flex darkblue">
                      <i class="fal fa-share-alt coal me-2"></i>
                      {{ team.department }}
                      <!-- <div class="d-inline-block dropdown w-auto ps-1">
                                                <button class="d-inline-block dropdown w-auto btn ps-0" type="button"
                                                    id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                                                    +1
                                                </button>
                                                <ul class="dropdown-menu w-auto" aria-labelledby="dropdownMenu2">
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            Corporate
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#">Support</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#">Sales & Lead
                                                            Management</a>
                                                    </li>

                                                </ul>
                                            </div> -->
                    </div>
                  </td>
                  <td>
                    <div
                      class="icons-list d-flex justify-content-end dropstart"
                    >
                      <button
                        class="btn iconButton medium iconHover btn-group"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        <i class="far fa-ellipsis-v"></i>
                      </button>
                      <ul class="dropdown-menu fade">
                        <li>
                          <a
                            class="dropdown-item"
                            [routerLink]="[
                              '/dashboard/listofteams/editteam',
                              team.id
                            ]"
                            ><i class="fal fa-edit me-2"></i> Edit</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item delete-dd"
                            (click)="deleteClient(team)"
                            ><i class="fal fa-trash me-2"></i> Delete</a
                          >
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #popupNext class="modal-dialog modal-dialog-centered">
  <div class="modal-header">
    <h5 class="modal-title line-head" id="cancel-changes-Label">Confirm</h5>
    <button
      type="button"
      class="btn iconHover pt-0 pb-0"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <i class="fal fa-times ice"></i>
    </button>
  </div>
  <div class="modal-body py-4">
    <div class="d-flex align-items-center">
      <div class="icon-circle iconButton me-4 errorbg">
        <i class="fal fa-times"></i>
      </div>
      <p class="line-txt darkblue">
        Selected checkboxes will be un-selected, Do you want to continue?
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      data-bs-dismiss="modal"
      (click)="modalRef.hide()"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-danger modal_cancel-data"
      data-bs-dismiss="modal"
      (click)="maketrueNext()"
    >
      Yes
    </button>
  </div>
</ng-template>

<ng-template #popupPrevious class="modal-dialog modal-dialog-centered">
  <div class="modal-header">
    <h5 class="modal-title line-head" id="cancel-changes-Label">Confirm</h5>
    <button
      type="button"
      class="btn iconHover pt-0 pb-0"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <i class="fal fa-times ice"></i>
    </button>
  </div>
  <div class="modal-body py-4">
    <div class="d-flex align-items-center">
      <div class="icon-circle iconButton me-4 errorbg">
        <i class="fal fa-times"></i>
      </div>
      <p class="line-txt darkblue">
        Selected checkboxes will be un-selected, Do you want to continue?
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      data-bs-dismiss="modal"
      (click)="modalRef.hide()"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-danger modal_cancel-data"
      data-bs-dismiss="modal"
      (click)="maketruePrevious()"
    >
      Yes
    </button>
  </div>
</ng-template>
