



<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
  [fullScreen]="true"
>
  <p style="color: white">Loading...</p>
</ngx-spinner>



<form [formGroup]="userAccountForm" (submit)="addUserAccount()">


    <div class="page-content-wrapper">
        <div class="w-auto chat-message-component inner-forms w-100">
            <div class="d-flex main-body-wrapper">
                <div class="agent-page-main-content">
                    <div class="query-container console-body-wrapper form-body-wrap perfect-scrollbar"
                        data-scrollbar="data-scrollbar">
                        <div class="row justify-content-center py-5">
                            <div class="col-lg-7">
                                <header class="tab-header">
                                    <nav>
                                        <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link active" id="user-details-tab"
                                                    data-bs-toggle="tab" data-bs-target="#user-details" type="button"
                                                    role="tab" aria-controls="user-details" aria-selected="true">User
                                                    Details</button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="card-details-tab" data-bs-toggle="tab"
                                                    data-bs-target="#card-details" type="button" role="tab"
                                                    aria-controls="card-details" aria-selected="false">Card
                                                    Details</button>
                                            </li>

                                        </ul>
                                        <div class="tab-content" id="myTabContent">
                                            <div class="tab-pane fade show active" id="user-details" role="tabpanel"
                                                aria-labelledby="user-details-tab">
                                                <div class="team-detail-form-box mb-5">
                                                    <div class="mb-4">
                                                        <label for="formFile" class="form-label">Profile Picture
                                                            <em>(optional)</em> </label>
                                                        <input class="form-control form-control-lg" type="file"
                                                            id="formFile">
                                                    </div>
                                                    <div class="alert alert-primary d-flex align-items-center"
                                                        role="alert">
                                                        <i class="fal fa-info-circle me-3"></i>
                                                        <div>
                                                            Upload the Image in .jpg, .jpge, .png
                                                            formats only with max image size
                                                            480x480px. </div>
                                                    </div>
                                                    <div class="floating-item mb-4">
                                                        <div class="form-floating mb-2">
                                                            <input class="form-control" id="user-id"
                                                                placeholder="Enter user ID" value="0001" formControlName="User_ID">
                                                            <label for="user-id">User ID <sup
                                                                    class="text-danger">*</sup>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="floating-item mb-4">
                                                        <div class="form-floating mb-2">
                                                            <input class="form-control" id="full-name"
                                                                placeholder="Enter Full Name "  formControlName="Full_Name">
                                                            <label for="full-name">Full Name <sup
                                                                    class="text-danger">*</sup>
                                                            </label>
                                                        </div>
                                                    </div>

                                                    <div class="form-floating mb-4">
                                                        <select class="form-select" id="floatingSelect"
                                                            aria-label="Select Gender" formControlName="Gender">
                                                            <option selected>Male</option>
                                                            <option>Female</option>
                                                            <option>Others</option>
                                                        </select>
                                                        <label for="floatingSelect">Select Gender
                                                            <sup class="text-danger">*</sup>
                                                        </label>
                                                    </div>
                                                    <div class="floating-item mb-4">
                                                        <div class="form-floating mb-2">
                                                            <input class="form-control" id="Email"
                                                                placeholder="Enter Email" value="saif@ibex.co" formControlName="Email">
                                                            <label for="Email">Email <sup class="text-danger">*</sup>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="floating-item mb-4">
                                                        <div class="form-floating mb-2">
                                                            <input class="form-control" id="phone"
                                                                placeholder="Enter phone" value="03111234567" formControlName="Phone">
                                                            <label for="phone">Phone <sup class="text-danger">*</sup>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="floating-item mb-4">
                                                        <div class="form-floating mb-2">
                                                            <input type="password" class="form-control" id="Password"
                                                                placeholder="Enter Password" value="********" formControlName="Password">
                                                            <label for="Password">Password <sup
                                                                    class="text-danger">*</sup>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="floating-item mb-4">
                                                        <div class="form-floating mb-2">
                                                            <input class="form-control" type="date" id="datetime"
                                                                name="Validity" formControlName="Validity">
                                                            <label for="Validity">Validity <sup
                                                                    class="text-danger">*</sup></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-floating">
                                                        <textarea class="form-control textarea-lg" placeholder="Remarks"
                                                            id="floatingTextarea" formControlName="Remarks"></textarea>
                                                        <label for="floatingTextarea">Remarks <sup
                                                                class="text-danger">*</sup> </label>
                                                    </div>


                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="card-details" role="tabpanel"
                                                aria-labelledby="card-details-tab">
                                                <div class="team-detail-form-box mb-5">


                                                    <div class="floating-item mb-4">
                                                        <div class="form-floating mb-2">
                                                            <input class="form-control" id="full-name"
                                                                placeholder="Card Number " value="0012111332" formControlName="Card_Number">
                                                            <label for="full-name">Card Number <sup
                                                                    class="text-danger">*</sup>
                                                            </label>
                                                        </div>
                                                    </div>

                                                    <div class="form-floating mb-4">
                                                        <select class="form-select" id="floatingSelect"
                                                            aria-label="Select Gender" formControlName="Card_Type">
                                                            <option selected>Visa</option>
                                                            <option>Master</option>
                                                            <option>Others</option>
                                                        </select>
                                                        <label for="floatingSelect">Card Type*<sup
                                                                class="text-danger">*</sup> </label>
                                                    </div>



                                                </div>
                                            </div>
                                        </div>
                                    </nav>
                                </header>


                            </div>
                        </div>
                    </div>

                    <footer class="footer">
                        <div class="ps-3 pe-3">
                            <div class="icon-buttons-wrapper d-flex justify-content-between pt-3 pb-4">
                                <div class="row w-100">
                                    <div class="col-md-4">


                                    </div>
                                    <div class="col-md-8 justify-content-end d-flex">
                                        <div class="buttons-wrap d-flex">
                                            <button type="button" class="btn btn-success ms-e f-saveBtn">Save & Create
                                                Another</button>
                                            <!-- <button type="submit" class="btn skyBg ms-2 px-4" data-bs-toggle="modal"
                                                data-bs-target="#save-account-modal">Save</button> -->
                                                <button type="submit" class="btn skyBg ms-2 px-4">Save</button>
                                            <button type="button"
                                                class="btn btn-outline-secondary ms-2 px-4">Cancel</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>

        </div>
    </div>
</form>