<div class="navUpper">
  <div class="rightbar-btn-group" value="tickets-rightbar-dashboard">
    <button
      class="iconButton btn medium iconHover"
      data-bs-toggle="tooltip"
      data-bs-placement="left"
      title="Tickets"
    >
      <i class="fal fa-ticket-alt"></i>
    </button>
  </div>
  <div class="rightbar-btn-group" value="contacts-rightbar-dashboard">
    <button
      class="iconButton btn medium iconHover"
      data-bs-toggle="tooltip"
      data-bs-placement="left"
      title="Contacts"
    >
      <i class="fal fa-address-book"></i>
    </button>
  </div>
  <div class="rightbar-btn-group" value="engagements-rightbar-dashboard">
    <button
      class="iconButton btn medium iconHover"
      data-bs-toggle="tooltip"
      data-bs-placement="left"
      title="Engagements"
    >
      <i class="fal fa-tachometer-alt-fast"></i>
    </button>
  </div>
  <div class="rightbar-btn-group" value="task-rightbar-dashboard">
    <button
      class="iconButton btn medium iconHover"
      data-bs-toggle="tooltip"
      data-bs-placement="left"
      title="Task"
    >
      <i class="fal fa-clipboard-check"></i>
    </button>
  </div>
  <div class="rightbar-btn-group" value="new-event-rightbar-dashboard">
    <button
      class="iconButton btn medium iconHover"
      data-bs-toggle="tooltip"
      data-bs-placement="left"
      title="Schedule"
    >
      <i class="fal fa-calendar-check"></i>
    </button>
  </div>
  <div
    class="rightbar-btn-group documentsRightBar"
    value="documents-rightbar-dashboard"
  >
    <button
      class="iconButton btn medium iconHover"
      data-bs-toggle="tooltip"
      data-bs-placement="left"
      title="Documents"
    >
      <i class="fal fa-folder"></i>
    </button>
  </div>
  <div class="rightbar-btn-group" value="knowledge-base-dashboard">
    <button
      class="iconButton btn medium iconHover"
      data-bs-toggle="tooltip"
      data-bs-placement="left"
      title="Knowledge Base"
    >
      <i class="fal fa-book"></i>
    </button>
  </div>
  <div class="rightbar-btn-group" value="keyboard-shortcuts-rightbar-dashboard">
    <button
      class="iconButton btn medium iconHover"
      data-bs-toggle="tooltip"
      data-bs-placement="left"
      title="Keyboard Shortcuts"
    >
      <i class="fal fa-keyboard"></i>
    </button>
  </div>
  <div class="rightbar-btn-group" value="dialer-rightbar">
    <button
      class="iconButton btn medium iconHover"
      data-bs-toggle="tooltip"
      data-bs-placement="left"
      title="Phone Dialer"
    >
      <i class="fal fa-phone-alt"></i>
    </button>
  </div>
  <div class="rightbar-btn-group" value="help-rightbar-dashboard">
    <button
      class="iconButton btn medium iconHover"
      data-bs-toggle="tooltip"
      data-bs-placement="left"
      title="Help"
    >
      <i class="fal fa-question-circle"></i>
    </button>
  </div>
  <div class="rightbar-btn-group" value="create-new-social">
    <button
      class="iconButton btn medium iconHover"
      data-bs-toggle="tooltip"
      data-bs-placement="left"
      title="Create New"
    >
      <i class="fal fa-plus"></i>
    </button>
  </div>
  <div class="rightbar-btn-group chat-room" value="chat-rightbar-social">
    <button
      class="iconButton btn medium char-btn"
      data-bs-toggle="tooltip"
      data-bs-placement="left"
      title="Chat"
    >
      <i class="fas fa-comments-alt"></i>
      <div class="count">2</div>
    </button>
  </div>
</div>
