<!-- <ngx-spinner type="ball-clip-rotate-multiple"  style="font-size: 20px; color: white">
Loading...
</ngx-spinner> -->
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
  [fullScreen]="true"
>
  <p style="color: white">Loading...</p>
</ngx-spinner>

<div class="page-content-wrapper dashboard">
  <div class="w-auto w-100 inbox-container chat-message-component">
    <div class="d-flex main-body-wrapper">
      <div class="agent-page-main-content">
        <div class="w-100 p-4">
          <div class="filter-toolbar mb-4">
            <div class="row">
              <div class="col-lg-7">
                <ul class="list-inline m-0 d-flex align-items-center">
                  <li class="list-inline-item">
                    <div class="searchbar-click">
                      <form class="searchbox">
                        <input
                          [(ngModel)]="search"
                          (input)="getDeviceByName()"
                          placeholder="Search device name"
                          name="search"
                          class="searchbox-input"
                          required
                        />
                        <span class="searchbox-icon medium iconButton">
                          <i class="fa fa-search"></i>
                        </span>
                      </form>
                      <div class="search-filters">
                        <header class="d-flex justify-content-between my-3">
                          <span>Filter Search </span>
                          T
                          <a href="#0" class="coal">
                            <u>Clear all</u>
                          </a>
                        </header>
                        <div class="search-body">
                          <div class="row mb-3">
                            <div class="col-3">
                              <label class="ps-2">City</label>
                            </div>
                            <div class="col-9">
                              <select class="cityselect" placeholder="city">
                                <option></option>
                                <option value="All">All</option>
                                <option value="Karachi">Karachi</option>
                                <option value="Lahore">Lahore</option>
                                <option value="Islamabad">Islamabad</option>
                              </select>
                            </div>
                          </div>
                          <div class="row mb-3">
                            <div class="col-3">
                              <label class="ps-2">Location</label>
                            </div>
                            <div class="col-9">
                              <select class="location" placeholder="Locations">
                                <option></option>
                                <option>All</option>
                                <option>SkyTower</option>
                                <option>IBEX 1</option>
                                <option>IBEX 2</option>
                                <option>IBEX 3</option>
                                <option>Ibex Tower</option>
                              </select>
                            </div>
                          </div>
                          <div class="row mb-3">
                            <div class="col-3">
                              <label class="ps-2">Make</label>
                            </div>
                            <div class="col-9">
                              <select class="dmake">
                                <option></option>
                                <option>All</option>
                                <option>ZK</option>
                                <option>HK</option>
                              </select>
                            </div>
                          </div>
                          <div class="row mb-4">
                            <div class="col-3">
                              <label class="ps-2">Type</label>
                            </div>
                            <div class="col-9">
                              <select class="dtype">
                                <option></option>
                                <option>All</option>
                                <option>Face</option>
                                <option>Bio</option>
                                <option>RFID</option>
                              </select>
                            </div>
                          </div>

                          <div class="mb-3">
                            <button
                              type="button"
                              class="badge rounded-pill onlinefilled tablepill"
                              data-bs-toggle="button"
                              autocomplete="off"
                              aria-pressed="true"
                            >
                              Online
                            </button>
                            <button
                              type="button"
                              class="badge rounded-pill offlinefilled tablepill"
                              data-bs-toggle="button"
                              autocomplete="off"
                            >
                              Offline
                            </button>
                          </div>
                        </div>
                        <footer class="py-3">
                          <div class="buttons-wrap d-flex justify-content-end">
                            <button
                              type="button"
                              class="btn btn-outline-secondary closefilter"
                            >
                              Cancel
                            </button>
                            <button
                              type="button"
                              class="btn btn-success ms-2 px-4"
                            >
                              Apply
                            </button>
                          </div>
                        </footer>
                      </div>
                    </div>
                  </li>
                  <li class="list-inline-item hideclass">
                    <select
                      (change)="getDeviceByMake()"
                      [(ngModel)]="make"
                      class="form-select"
                      placeholder="city"
                    >
                      <option value="" disabled>Make</option>
                      <option>HikVision</option>
                      <option>ZK</option>
                    </select>
                  </li>
                  <li class="list-inline-item hideclass">
                    <select
                      class="form-select"
                      [(ngModel)]="type"
                      (ngModelChange)="getDeviceByType()"
                      placeholder="Type"
                    >
                      <option value="" disabled>Type</option>
                      <option>Face</option>
                      <option>RFID</option>
                      <option>Bio</option>
                    </select>
                  </li>
                  <li class="list-inline-item hideclass">
                    <select
                      class="form-select"
                      placeholder="Locations"
                      [(ngModel)]="status"
                      (ngModelChange)="getDeviceByStatus()"
                    >
                      <option value="" disabled>Status</option>
                      <option>Active</option>
                      <option>InActive</option>
                    </select>
                  </li>
                  <!-- <li class="list-inline-item">
                    <button class="btn btn-link advancesearch">
                      Advance Search
                    </button>
                  </li> -->
                </ul>
              </div>
              <div
                class="col-lg-5 d-flex align-items-center justify-content-end"
              >
                <a
                  routerLink="/dashboard/devicemanagement/createdevice"
                  class="btn btn-success"
                >
                  <i class="fal fa-plus"></i> Create Device
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div *ngFor="let d of devicesstatus" class="col-lg-3 col-md-6">
              <div
                class="card dashboard-card zoom-in"
                style="cursor: context-menu"
              >
                <div class="card-body">
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <div>
                      <div class="iconButton medium mb-2 {{ d.color }}">
                        <i class="{{ d.icon }}"></i>
                      </div>
                      <p class="silver mb-0">{{ d.title }}</p>
                    </div>
                    <h2>{{ d.count }}</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-content" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="Focused"
              role="tabpanel"
              aria-labelledby="focused-tab"
            >
              <div class="filter-container">
                <ul class="list-group list-group-horizontal border-0">
                  <li
                    (click)="reloadComponent()"
                    _ngcontent-ypb-c55=""
                    aria-label="..."
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    title="Refresh"
                    class="list-group-item border-0 refreshicon"
                  >
                    <i _ngcontent-ypb-c55="" class="fal fa-redo"></i>
                  </li>
                  <li
                    [ngStyle]="{
                      display: isChecked == true ? 'block' : 'none'
                    }"
                    class="list-group-item border-0 after-select-fun"
                    aria-label="..."
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    title=""
                    data-bs-original-title="Delete"
                  >
                    <i
                      class="fal fa-trash"
                      data-bs-toggle="modal"
                      data-bs-target="#delete-devices"
                    ></i>
                  </li>

                  <li
                    [ngStyle]="{
                      display: isChecked == true ? 'block' : 'none'
                    }"
                    class="list-group-item border-0 after-select-fun"
                    aria-label="..."
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    title=""
                    data-bs-original-title="Disable"
                    style="display: none"
                  >
                    <i class="fal fa-ban"></i>
                  </li>
                </ul>
                <div class="selected-row" style="display: none">
                  Last refresh 5 mins ago
                </div>
                <div class="pagination-bar">
                  <div class="dropdown">
                    <button
                      class="btn iconHover"
                      type="button"
                      id="dropdownMenuButton1"
                      data-bs-toggle="dropdown"
                      aria-expanded="true"
                    >
                      <span
                        >{{ Starting_Point }}-{{ Ending_Point }} of
                        {{ totalDevicesCount }}</span
                      >
                    </button>
                    <ul
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuButton1"
                      style="
                        position: absolute;
                        inset: 0px auto auto 0px;
                        margin: 0px;
                        transform: translate(0px, 38px);
                      "
                      data-popper-placement="bottom-start"
                    >
                      <li>
                        <a class="dropdown-item" (click)="getsortValue($event)"
                          >Newest</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" (click)="getsortValue($event)"
                          >Oldest</a
                        >
                      </li>
                    </ul>
                    <span style="margin-right: 6px">
                      <i
                        class="fal fa-chevron-left"
                        (click)="openModalPrevious(popupPrevious)"
                      ></i>
                    </span>
                    <span
                      data-bs-toggle="modal"
                      data-bs-target="#cancel-changes"
                      style="margin-left: 6px"
                    >
                      <i
                        class="fal fa-chevron-right"
                        (click)="openModalNext(popupNext)"
                      ></i>
                    </span>
                  </div>
                </div>
              </div>
              <div
                class="table-section query-container perfect-scrollbar"
                data-scrollbar="data-scrollbar"
              >
                <div
                  [ngStyle]="{ display: isCheckedAll ? 'block' : 'none' }"
                  class="alert alert-secondary text-center email-info-alert p-2"
                  role="alert"
                  style="display: block"
                >
                  All devices on this page are selected.
                  <a
                    class="all-conversation fw-bold sky btn"
                    (click)="reloadComponent()"
                    class="text-info"
                    >Clear selection</a
                  >
                  <a
                    href="javascript:void(0);"
                    class="clear-selection"
                    style="display: none"
                    >Clear selection</a
                  >
                </div>
                <table class="table table-nowrap">
                  <thead>
                    <tr [class.selected]="isChecked == true">
                      <th>
                        <div class="filter-container">
                          <ul class="list-group list-group-horizontal border-0">
                            <li
                              class="list-group-item border-0 all-check-boxes"
                            >
                              <input
                                class="form-check-input me-1"
                                type="checkbox"
                                aria-label="..."
                                data-bs-toggle="tooltip"
                                data-bs-placement="bottom"
                                title="Check All"
                                [checked]="masterSelected"
                                value="m1"
                                (change)="checkUncheckAll($event)"
                              />
                            </li>
                          </ul>
                        </div>
                      </th>

                      <th>Name</th>
                      <th>Make</th>
                      <th>Type</th>
                      <th>Connection</th>
                      <th>Network</th>
                      <th>Serial NO.</th>
                      <th>Status</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      [class.selected]="device.isChecked == true"
                      *ngFor="
                        let device of devices
                          | paginate
                            : {
                                currentPage: p,
                                itemsPerPage: 5,
                                totalItems: totalDevicesCount
                              };
                        index as index
                      "
                    >
                      <td>
                        <input
                          [checked]="device.isChecked"
                          value="{{ device.id }}"
                          (change)="isAllSelected($event, index)"
                          class="form-check-input me-1"
                          type="checkbox"
                          aria-label="..."
                        />
                      </td>
                      <!-- <td>{{device.ip}}</td>
                          [routerLink]="[
                          '/dashboard/devicemanagement/devicedetail/',
                          device.id
                        ]" 
                       -->
                      <td>
                        {{ device.name }}
                      </td>
                      <td>{{ device.make }}</td>

                      <td>
                        <ul class="devicelisting">
                          <li *ngFor="let dev of device.type">
                            {{ dev.type }}
                            <span
                              *ngFor="
                                let key of objectKeys(dev) | slice : 0 : 1
                              "
                            >
                              {{ key }}
                            </span>

                            <div
                              *ngIf="objectKeys(dev).length > 1"
                              class="dropdown w-auto device-dd"
                            >
                              <button
                                class="dropdown w-auto btn ps-0"
                                type="button"
                                id="dropdownMenu2"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                              >
                                <span>+{{ objectKeys(dev).length - 1 }}</span>
                              </button>
                              <ul
                                class="dropdown-menu-vertical dropdown-menu w-auto"
                                aria-labelledby="dropdownMenu2"
                              >
                                <li
                                  *ngFor="
                                    let key of objectKeys(dev) | slice : 1 : 100
                                  "
                                >
                                  <a class="dropdown-item" href="#">
                                    <span>{{ key }}</span>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </li>
                        </ul>

                        <!-- <ul class="devicelisting">
                          <li
                            *ngFor="let dev of device.type"
                          >
                          {{dev.type}}
                            <span *ngFor="let key of objectKeys(dev) | slice:0:1">
                                {{key}}
                            </span> 

                           <div *ngIf="objectKeys(dev).length >0 "
                            class="dropdown w-auto device-dd"
                          >
                            <button
                              class=" dropdown w-auto btn ps-0"
                              type="button"
                              id="dropdownMenu2"
                              data-bs-toggle="dropdown"
                              aria-expanded="false"
                            >
                              <span
                                >+{{ objectKeys(dev).length-1}}</span
                              >
                            </button>
                            <ul
                              class="dropdown-menu w-auto "
                              aria-labelledby="dropdownMenu2"
                          >   
                              <li  *ngFor="let key of objectKeys(dev) | slice:1:100"
                               >
                                <a class="dropdown-item" href="#">
                                  <span>
                                    {{ key}}
                                  </span>
                                </a>
                              </li>

                            </ul>
                          </div>
                          </li>
                        </ul> -->
                      </td>

                      <td>{{ device.mode }}</td>
                      <td>{{ device.network }}</td>
                      <td>{{ device.network }}</td>

                      <td>
                        <span
                          [ngClass]="{
                            onlinefilled: device.status === 'Active',
                            offlinefilled: device.status === 'InActive'
                          }"
                          class="badge rounded-pill tablepill"
                          >{{
                            device.status! == "Active" ? "Online" : "Offline"
                          }}</span
                        >
                      </td>
                      <td>
                        <div
                          class="icons-list d-flex dropstart justify-content-end"
                        >
                          <button
                            class="btn iconButton medium iconHover btn-group"
                            type="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                          >
                            <i class="far fa-ellipsis-v"></i>
                          </button>
                          <ul class="dropdown-menu fade">
                            <li>
                              <a
                                class="dropdown-item"
                                [routerLink]="[
                                  '/dashboard/devicemanagement/editdevice',
                                  device.id
                                ]"
                              >
                                <i class="fal fa-edit me-2"></i>
                                Edit</a
                              >
                            </li>
                            <li>
                              <a
                                class="dropdown-item"
                                (click)="updateStatus(device.id)"
                              >
                                <!-- <i class="fal fa-cog me-2"></i> -->
                                <span
                                  [ngClass]="{
                                    offlinefilled: device.status === 'Active',
                                    onlinefilled: device.status === 'InActive'
                                  }"
                                  class="badge rounded-pill tablepill"
                                  >{{
                                    device.status == "Active"
                                      ? "InActive"
                                      : "Active"
                                  }}</span
                                >
                              </a>
                            </li>
                            <li *ngIf="this.Ids.length <= 1">
                              <a
                                class="dropdown-item delete-dd"
                                data-bs-toggle="modal"
                                data-bs-target="#delete-device"
                              >
                                <i class="fal fa-trash me-2"></i>
                                Delete</a
                              >
                            </li>
                          </ul>
                        </div>
                      </td>
                      <div
                        class="modal fade"
                        id="delete-device"
                        tabindex="-1"
                        aria-labelledby="delete-device-Label"
                        aria-hidden="true"
                      >
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5
                                class="modal-title line-head"
                                id="delete-device-Label"
                              >
                                Confirm
                              </h5>
                              <button
                                type="button"
                                class="btn iconHover pt-0 pb-0"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                              >
                                <i class="fal fa-times"></i>
                              </button>
                            </div>
                            <div class="modal-body p-5">
                              <div class="d-flex align-items-center">
                                <div
                                  class="icon-circle iconButton me-4 errorbg"
                                >
                                  <i class="fal fa-trash"></i>
                                </div>
                                <h6
                                  class="line-txt darkblue"
                                  style="font-size: -10px"
                                >
                                  Are you sure, you want to delete the <br />
                                  Device?
                                </h6>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button
                                type="button"
                                class="btn btn-outline-secondary"
                                data-bs-dismiss="modal"
                              >
                                Cancel
                              </button>

                              <button
                                type="button"
                                class="btn skyBg delete_device_toast"
                                data-bs-dismiss="modal"
                                (click)="singelDeleted(device.id)"
                              >
                                Yes
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="position-fixed toast-bar border-0 shadow-sm rounded navyBg"
  style="z-index: 60"
>
  <div
    [ngClass]="toastermessage == true ? 'show' : 'hide'"
    class="toast border-0 p-2 h-100 navyBg fade"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div
      class="d-flex border-0 justify-content-between align-items-center w-100 h-100"
    >
      <p class="toast-line-para ice m-0">Data has been updated succssfully!</p>
      <div class="toast-btn d-flex align-items-center">
        <button
          type="button"
          class="btn m-0 ms-2"
          aria-label="Close"
          data-bs-dismiss="toast"
          (click)="closeToaster()"
        >
          <i class="fal fa-times"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #popupNext class="modal-dialog modal-dialog-centered">
  <div class="modal-header">
    <h5 class="modal-title line-head" id="cancel-changes-Label">Confirm</h5>
    <button
      type="button"
      class="btn iconHover pt-0 pb-0"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <i class="fal fa-times ice"></i>
    </button>
  </div>
  <div class="modal-body py-4">
    <div class="d-flex align-items-center">
      <div class="icon-circle iconButton me-4 errorbg">
        <i class="fal fa-times"></i>
      </div>
      <p class="line-txt darkblue">
        Selected checkboxes will be un-selected, Do you want to continue?
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      data-bs-dismiss="modal"
      (click)="modalRef.hide()"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-danger modal_cancel-data"
      data-bs-dismiss="modal"
      (click)="maketrueNext()"
    >
      Yes
    </button>
  </div>
</ng-template>

<ng-template #popupPrevious class="modal-dialog modal-dialog-centered">
  <div class="modal-header">
    <h5 class="modal-title line-head" id="cancel-changes-Label">Confirm</h5>
    <button
      type="button"
      class="btn iconHover pt-0 pb-0"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <i class="fal fa-times ice"></i>
    </button>
  </div>
  <div class="modal-body py-4">
    <div class="d-flex align-items-center">
      <div class="icon-circle iconButton me-4 errorbg">
        <i class="fal fa-times"></i>
      </div>
      <p class="line-txt darkblue">
        Selected checkboxes will be un-selected, Do you want to continue?
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      data-bs-dismiss="modal"
      (click)="modalRef.hide()"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-danger modal_cancel-data"
      data-bs-dismiss="modal"
      (click)="maketruePrevious()"
    >
      Yes
    </button>
  </div>
</ng-template>
<div
  class="modal fade"
  id="delete-devices"
  tabindex="-1"
  aria-labelledby="delete-device-Label"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title line-head" id="delete-device-Label">Confirm</h5>
        <button
          type="button"
          class="btn iconHover pt-0 pb-0"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i class="fal fa-times"></i>
        </button>
      </div>
      <div class="modal-body p-5">
        <div class="d-flex align-items-center">
          <div class="icon-circle iconButton me-4 errorbg">
            <i class="fal fa-trash"></i>
          </div>
          <h6 class="line-txt darkblue" style="font-size: -10px">
            Are you sure, you want to delete the <br />
            Device?
          </h6>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-secondary"
          data-bs-dismiss="modal"
        >
          Cancel
        </button>

        <button
          type="button"
          class="btn skyBg delete_device_toast"
          data-bs-dismiss="modal"
          (click)="Delete()"
        >
          ok
        </button>
      </div>
    </div>
  </div>
</div>
